:root {
	--gray-5:#010101; /*dark*/
	--gray-10:#040404;
	--gray-15:#070808;
	--gray-20:#0D0D0E;
	--gray-25:#141516;
	--gray-30:#1E2022;
	--gray-35:#2D2F31;
	--gray-40:#404346;
	--gray-45:#5B5E62;
	--gray-50:#7C8084;
	--gray-55:#9DA1A5;
	--gray-60:#B9BDC1;
	--gray-65:#CDD1D5;
	--gray-70:#DCE0E3;
	--gray-75:#E7EAED;
	--gray-80:#EFF2F5;
	--gray-85:#F4F7FA;
	--gray-90:#F7FAFD;
	--gray-95:#FCFEFE; /*light*/
	--animate:200ms;

  	--cyan: #33c4c4;
}

.page-transition {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.page-transition:hover {
    background-color: #2980b9;
}

/* Для мобильных устройств */
@media only screen and (max-width: 600px) {
    /* Ваши стили для мобильных устройств */
}

/* Для планшетов и десктопов */
@media only screen and (min-width: 601px) {
    /* Ваши стили для планшетов и десктопов */
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.thumbnail {
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

/* img {
	width: auto;
	height: auto;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: transform 0.3s; Анимация при увеличении 
}

 img:hover {
	transform: scale(1.1); Увеличение изображения при наведении
} 

#expandedImg {
	display: none;
	position: center;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	transition: opacity 0.5s; Анимация прозрачности 
}

#expandedImg img {
    width: 100%;
}

#expandedImg.show {
	display: block;
	opacity: 1;
} */

ol {
	list-style-type: decimal;
	padding-left: 20px;
}

ul {
	list-style-type: decimal;
	padding-left: 20px;
}

li {
	line-height: 1.6;
	font-family: 'Times New Roman', sans-serif;
	margin-bottom: 15px;
}

/* Анимация при переходе */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-out {
    animation: fadeOut 0.5s forwards; /* forwards сохранит состояние после завершения анимации */
}

.fade-in {
    animation: fadeIn 0.5s;
}

body {
	margin:0;
	padding:40px;
	color:var(--gray-40);
	font-family: 'Times New Roman', sans-serif;
	background:var(--gray-70);
	-webkit-font-smoothing:antialiased;
	transition:color var(--animate) ease-in-out, background var(--animate) ease-in-out;
}
body.dark {
	color:var(--gray-80);
	background:var(--gray-35);
}
h6 {
	color:var(--gray-40);
	transition:color var(--animate) ease-in-out;
}
body.dark h6 {
	color:var(--gray-80);
}

header a, nav a {
    text-decoration: none; /* убрать подчеркивание */
    color: inherit; /* использовать цвет по умолчанию */
}

header a:hover, nav a:hover {
    color: var(--cyan); /* изменение цвета при наведении */
}

a{
	color: #2980b9;
	text-decoration: none;
}

a:hover {
	color: var(--cyan); /* Цвет ссылки при наведении курсора */
}

body.dark header {
  color:var(--gray-80);
}

p {
	font-family: 'Times New Roman', sans-serif;
	font-size: 16px;
	list-style-type: decimal;
}

header {
  text-align: center;
}

h2 {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  font-weight: bold;
}

.load-flash {
	z-index:1000;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	background:var(--gray-35);
}
.mode-toggle {
	display:inline-flex;
	flex-direction:row;
	align-items:center;
}
.label-dark {
	letter-spacing:-0.15px;
}
.label-light {
	letter-spacing:-0.031px;
}
.mode-toggle h6,
body.dark .mode-toggle h6 {
	text-transform:uppercase;
}
.label-dark,
.label-light {
	padding:8px 12px;
	min-width:32px;
	text-align:center;
	color:var(--gray-45);
}
body.dark .label-dark,
body.dark .label-light {
	color:var(--gray-60);
}
.label-dark:hover {
	color:var(--gray-40);
}
.label-dark:active {
	color:var(--gray-5);
}
body.dark .label-dark {
	pointer-events:none;
}
body.dark .label-light:hover {
	color:var(--gray-95);
}
body.dark .label-light:active {
	color:var(--gray-65);
}
.toggle-switch {
	margin:0;
	padding:0;
	width:48px;
	height:28px;
	border:none;
	outline:none;
	overflow:hidden;
	position:relative;
	border-radius:14px;
	display:inline-block;
	background:var(--gray-40);
}
body.dark .toggle-switch {
	width:48px;
}
.toggle-switch,
.toggle-switch:before,
.toggle-switch:after {
	transition:all var(--animate) ease-in-out;
}
body.dark .toggle-switch {
	background:var(--gray-70);
}
.toggle-switch:before {
	top:4px;
	left:24px;
	content:"";
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	border-radius:12px;
	background:var(--gray-70);
}
body.dark .toggle-switch:before {
	left:4px;
	background:var(--gray-35);
}
.toggle-switch:after {
	content:"";
	top:14px;
	right:2px;
	width:1px;
	height:1px;
	display:block;
	position:absolute;
	border-radius:0.5px;
	background:var(--gray-40);
}
body.dark .toggle-switch:after {
	top:-2px;
	right:2px;
	width:32px;
	height:32px;
	border-radius:16px;
	background:var(--gray-70);
}
.toggle-switch:hover,
.toggle-switch:hover:after {
	background:var(--gray-35);
}
.toggle-switch:focus,
.toggle-switch:active,
.toggle-switch:active:after {
	background:var(--gray-25);
}
body.dark .toggle-switch:hover,
body.dark .toggle-switch:hover:after {
	background:var(--gray-95);
}
body.dark .toggle-switch:focus,
body.dark .toggle-switch:active,
body.dark .toggle-switch:active:after {
	background:var(--gray-65);
}
.noselect {
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
.disableEasingTemporarily,
.disableEasingTemporarily:after,
.disableEasingTemporarily:before {
  -o-transition-property:none!important;
  -moz-transition-property:none!important;
  -ms-transition-property:none!important;
  -webkit-transition-property:none!important;
  transition-property:none!important;
  -o-transform:none!important;
  -moz-transform:none!important;
  -ms-transform:none!important;
  -webkit-transform:none!important;
  transform:none!important;
  -webkit-animation:none!important;
  -moz-animation:none!important;
  -o-animation:none!important;
  -ms-animation:none!important;
  animation:none!important;
}
